@font-face {
  font-family: 'iconfont';  /* project id 574389 */
  src: url('https://at.alicdn.com/t/font_574389_1tl0zcuwo8tr19k9.eot');
  src: url('https://at.alicdn.com/t/font_574389_1tl0zcuwo8tr19k9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_574389_1tl0zcuwo8tr19k9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_574389_1tl0zcuwo8tr19k9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_574389_1tl0zcuwo8tr19k9.svg#iconfont') format('svg');
}
header{
	width: 100%;
	height: 80px;
	background-color: #fafafa;
}
.header_di{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
	padding-top: 8px;
	padding-left: 8px;
}
.header_di1{
	width: 56px;
	height: 59px;
	float: left;
}
.header_di2{
	width: 47px;
	height: 59px;
	float: left;
	font-size: 20px;
	color: rgb(43, 108, 140);
	padding-left: 4px;
	padding-top: 9px;
	margin-right: 293px;
}
.header_di3{
	float: left;
	width: 556px;
	height: 59px;
	font-size: 14px;
	color: rgb(43, 108, 140);
	line-height: 59px;
	margin-right: 30px;
}

.header_di3m{
	width: 87px;
    height: 28px;
    float: left;
    margin-right: 5px;
    position: relative;
    text-align: center;
    line-height: 28px;
    margin-top: 15px;
}

.header_di3_l{
	width: 8px;
	height: 8px;
	background-image: url('../img/h2.png');
	position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}
.header_di3_r{
	width: 8px;
	height: 8px;
	background-image: url('../img/h3.png');
	position: absolute;
    bottom: 0px;
    right: 0px;
    opacity: 0;

}
.header_di3m a{
	color: #6F6F6F;
	text-align: center;
}
.header_di3 li:hover .header_di3_l,
.header_di3 li:hover .header_di3_r{
	opacity: 1;
}
.header_di3_l2{
	opacity: 1;
}
.header_di3_r2{
	opacity: 1;
}
.header_di3m a.header_di3_a{
	color: rgb(48, 103, 140);
}
.header_di3m a:hover{
	color: rgb(48, 103, 140);
}
.header_di3mz{
	margin-right: 0;
}

.header_di4{
	width: 170px;
	height: 24px;
	border: 1px solid #BFBFBF;
	border-radius: 20px;
	float: left;
	margin-top: 15px;
	font-size: 12px; 
	font-family: 'iconfont';
	/* margin-right: 8px; */
	line-height: 24px;
	color: #686868;
	
}
.tijiao{
	width: 15px;
	height: 15px;
	background-color: white;
	font-family: 'iconfont';
	text-align: center;
	line-height: 12px;
	margin-top: 0;
	border: 0;

}
.header_di4_pw{
	width: 12px;
	height: 12px;
	float: left;
	margin-top: 15px;
	margin-left: -20px;
}
.header_di4 p{
	float: right;
	font-family: 'iconfont';
	margin-right: 8px;
	line-height: 24px;
	color: #686868;
}
.content1{
	width: 100%;
	height: 540px;
	background-image: url('../img/b1.png');
}
.content1_di{
	width: 1200px;
	height: 540px;
	margin: 0 auto;
	background-image: url('../img/b2.png');
	position: relative;
}
.content1_di_1{
	width: 27px;
	height: 156px;
	position: absolute;
	bottom: 32px;
	left: 21px;
}
.content1_di_1 li{
	width: 27px;
	height: 30px;
	position: relative;
}
.content1_di_tl{
	width: 8px;
	height: 8px;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url('../img/h2.png');
	opacity: 0;	
}
.content1_di_br{
	width: 8px;
	height: 8px;
	background-image: url('../img/h3.png');
	position: absolute;
	bottom:  0;
	right: 0;
	opacity: 0;
}
.content1_di_1 li:hover .content1_di_tl,
.content1_di_1 li:hover .content1_di_br{
	opacity: 1;
}
.content1_di_1 li p:hover,.content1_di_1 li p.content1_di_brz{
	color: rgb(48, 103, 140);
}
.content1_di_tl2,.content1_di_br2{
	opacity: 1;
}
.content1_di_1 li p{
	font-family: arial;
	font-size: 21px;
	color: #5F5F5F;
	text-align: center;
	line-height: 30px;
}
.content1_di_2{
	width: 8px;
	height: 8px;
	background-image: url('../img/h2.png');
	position: absolute;
	top: 27px;
}
.content1_di_3{
	width: 8px;
	height: 8px;
	background-image: url('../img/h3.png');
	position: absolute;
	top: 50px;
	right: 0;
}
.content2{
	width: 100%;
	height: 160px;
	padding-top: 40px;
}
.content2_di{
	width: 426px;
	height: 120px;
	background-color: white;
	margin: 0 auto;
}
.content2_di_left{
	height: 100%;
	width: 138px;
	font-size: 32px;
	color: rgb(43, 108, 140);
	margin-right: 22px;
	float: left;
}
.content2_di_left p{
	padding-top: 40px;
	font-weight: bold;
}
.content2_di_left span{
	float: right;
}
.content2_di_zhong{
	width: 118px;
	height: 100%;
	float: left;
	font-size: 28px;
}
.content2_di_zhong1{
	width: 76px;
	height: 1px;
	background-color:rgb(43, 108, 140);
	margin-top: 17px; 
}
.content2_di_zhong2{
	width: 1px;
	height: 102px;
	background-color:rgb(43, 108, 140);
}
.content2_di_zhong3{
	width: 102px;
	height: 1px;
	background-color:rgb(43, 108, 140);
	float: left;
}
.content2_di_zhong4{
	width: 1px;
	height: 76px;
	background-color:rgb(43, 108, 140);
	float: left;
	margin-top: -76px;
}
.content2_di_zhong_zi{
	width: 66px;
	height: 72px;
	margin-top: -88px;
	margin-left: 16px;
}
.content2_di_zhong_img{
	width: 35px;
	height: 35px;
	background-image: url('../img/b4.png');
	float: right;
	margin-top: -120px;
}
.content2_di_right{
	width: 144px;
	height: 100%;
	float: right;
	font-size: 14px;
	padding-top: 38px;
}
.content2_di_right span{
	font-size: 16px;
	font-weight: bold;
}
.content3{
	width: 1200px;
	height: 750px;
	margin: 0 auto;
	margin-top: 40px;
}
.content3_tu1{
	width: 100%;
	height: 370px;
	display: flex;
	justify-content:space-between; 
	margin-bottom: 10px;
}
.content3_tu{
	width: 370px;
	height: 370px;
	float: left;
	flex-shrink:0; 
	position: relative;
	transition: all 0.2s linear;

}
.content3_tu_tiao{
	width: 325px;
    height: 325px;
    background-color: rgba(48, 103, 140, 0.9);
    position: absolute;
    top: 18.5px;
    left: 23px;
    opacity: 0;
}
.content3_tu:hover{
	/* transform: translateX(2px); */
	box-shadow: 10px 10px 5px grey;
}
.content3_tu_tiao:hover{
	opacity: 1;
}
.content3_tu_tiao1{
	width: 80px;
	height: 226px;
	border-right: 2px solid #6F95A8;
	border-left: 2px solid #6F95A8;
	margin-top: 49.5px;
	margin-left: 126px;
}
.content3_tu_tiao1_1{
	width: 53px;
	height: 89px;
	border-right: 2px solid white;
	border-top: 2px solid white;
	border-left: 2px solid white;
	margin-left: 12px;
	font-size: 40px;
	text-align: center;
	color: white;
	font-weight: bold;
	padding-top: 20px;
}
.content3_tu_tiao1_2{
	width: 53px;
	height: 89px;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	border-left: 2px solid white;
	margin-left: 12px;
	margin-top: 50px;
	font-size: 40px;
	text-align: center;
	color: white;
	font-weight: bold;
	padding-top: 10px;
}
.content3_tu_tiao2{
	width: 222px;
	height: 20px;
	top: 150px;
	left: 53px;
	position: absolute;	
}
.content5_di21:hover{
	border-top: 2px solid yellow;
	color: black;
}
.content3_tu_tiao2_1{
	width: 26px;
	height: 3px;
	background-color: white;
	margin-top: 8.5px;
	margin-right: 4px;
	float: left;
}
.content3_tu_tiao2_2{
	width: 3px;
	height: 3px;
	background-color: white;
	margin-top: 8.5px;
	float: left;
	margin-right: 15px;
}
.content3_tu_tiao2_3{
	font-size: 20px;
	color: white;
	width: 124px;
	height: 20px;
	line-height: 20px;
	font-weight: bold;
	letter-spacing: 15px;
	float: left;
	margin-right: 16px;
}
.content3_tu_tiao2_4{
	width: 3px;
	height: 3px;
	background-color: white;	
	margin-top: 8.5px;
	float: left;
	margin-right: 4px;
}
.content3_tu_tiao2_5{
	width: 26px;
	height: 3px;
	background-color: white;
	margin-top: 8.5px;
	float: left;
}
.content3_tu2{
	margin-bottom: 0;
}
.content4{
	width: 1200px;
	height: 320px;
	margin: 0 auto;
	margin-top: 40px;
}
.content4_left{
	width: 484px;
	height: 302px;
	background-image: url('../img/c3-1.png');
	float: left;
	margin-left: 86px;
	position: relative;
	margin-right: 60px;
}
.content4_left1{
	width: 40px;
	height: 40px;
	background-color:black;
	position: absolute;
	right: 76px;
	bottom: -20px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	line-height: 40px;
	text-align: center;
}
.content4_left2{
	width: 40px;
	height: 40px;
	background-color: rgb(43, 108, 140);
	position: absolute;
	right: 36px;
	bottom: -20px;
	color: white;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.content4_right{
	width: 470px;
	height: 100%;
	float: left;
	padding-top: 24px;
}
.content4_right1{
	width: 100%;
	height: 36px;
	margin-bottom: 24px;
}
.content4_right1 p{
	font-family: "san francisco display";
	font-size: 36px;
	font-weight: bold;
	line-height: 36px;
	float: left;
	margin-right: 20px;
}
.content4_right1 span{
	font-size: 30px;
	line-height: 36px;
	font-family: "微软雅黑regular";
}
.content4_right2{
	width: 330px;
	height: 48px;
	font-family: "微软雅黑light";
	font-size: 16px;
	margin-bottom: 16px;
}
.content4_right3{
	width: 100%;
	height: 1px;
	background-color: #B2B2B2;
	position: relative;
	margin-bottom: 14px;
}
.content4_right31{
	width: 74px;
	height: 2px;
	background-color: rgb(43, 108, 140);
	position: absolute;
	top: -1px;
	right: 0;
}
.content4_right32{
	width: 25px;
	height: 25px;
	background-color: rgb(43, 108, 140);
	position: absolute;
	bottom: 0;
	right: 0;
	color: white;
	line-height: 25px;
	text-align: center;
	font-size: 16px;
}
.content4_right33{
	width: 36px;
	height: 10px;
	position: absolute;
	bottom: 8px;
	right: 37px;
	font-size: 12px;
	font-family: "san francisco display";
	line-height: 10px;
	font-weight: bold;
	color: rgb(43, 108, 140);
}
.content4_right4{
	width: 100%;
	height: 160px;
	font-family: "微软雅黑light";
	font-size: 14px;
	overflow: hidden;
}
.content5{
	width: 100%;
	height: 410px;
	background-image: url('../img/c4-1.png');
	margin-top: 40px;
	margin-bottom: 188px;
}
.content5_di{
	width: 1200px;
	height: 410px;
	margin: 0 auto;
	position: relative;
}
.content5_di1{
	width: 484px;
	height: 102px;
	float: left;
	margin: 76px 0 0 82px;
}
.content5_di1_1{
	width: 320px;
	height: 24px;
	font-size: 36px;
	line-height: 24px;
	font-weight: bold;
	font-family: "gillsans";
	float: left;
	color: white;
}
.content5_di1_2{
	width: 76px;
	height: 26px;
	float: right;
	position: relative;
}
.content5_di1_21{
	width: 74px;
	height: 2px;
	background-color: white;
	position: absolute;
	right: 0;
	bottom: 0;
}
.content5_di1_22{
	width: 24px;
	height: 24px;
	background-color: white;
	float: left;
	position: absolute;
	right: 0;
	bottom: 2px;
}
.content5_di1_23{
	width: 38px;
	height: 10px;
	margin-top: 8px;
	margin-left: 2px;
	font-family: "san francisco display";
	font-size: 12px;
	line-height: 10px;
	color: white;
	font-weight: bold;
}
.content5_di2_1{
	width: 100%;
	height: 48px;
	margin-top: 54px;
	font-family: "微软雅黑light";
	font-size: 18px;
	color: white;
}
.content5_di2{
	width: 596px;
	height: 214px;
	position: absolute;
	left: 82px;
	bottom: -92px;
	display: flex;
	justify-content: space-between;
}
.content5_di21{
	width: 120px;
	height: 100%;
	border-top: 3px solid #ADC4D2;
	font-size: 12px;
	color: #D8D8D8;
	float: left;
	flex-shrink:  0;
}
.content5_di21 p{
	margin-top: 14px;
}
.content5_di21:nth-child(2){
	color: black;
}
.content5_di3{
	width: 470px;
	height: 648px;
	position: absolute;
	right: 52px;
	top: -129px;
	z-index: 0;
}
.content5_di31{
	width: 100%;
	height: 129px;
}
.content5_di31_img{
	width: 176px;
	height: 129px;
	margin-left: 238px;
	background-image: url('../img/c5-5.png');
}
.content5_di32{
	width: 469px;
	height: 519px;
	background-image: url('../img/c5-52.png');
}
.zhandian{
	width: 100%;
	height: 520px;
	background-color:rgb(43, 108, 140); 
}
.zhandian_top{
	width: 1000px;
	height: 100%;	
    background-color: rgb(43, 108, 140);
	margin: 0 auto ;
	padding-top: 70px;
}
.zhandian_top1{
	width: 100%;
	height: 160px;
	background-image: url('../img/f1.png');
	padding-top:45px;
}
.zhandian_top1_1{
	width: 296px;
	height: 70px;
	background-color:rgb(43, 108, 140); 
	margin: 0 auto ;
	border-radius: 8px;
	padding-left: 24px;
}
.zhandian_top1_1 p{
	font-family: "微软雅黑regular";
	font-size: 14px;
	letter-spacing: 4px;
	color: white;
	line-height: 35px;
	height: 35px;
}
.zhandian_top1_1 span{
	font-family: "微软雅黑regular";
	font-size: 14px;
	color: white;
}
.zhandian_top2{
	width: 384px;
	height: 166px;
	margin-top: 40px;
	margin-right: 70px;
	float: left;
}
.zhandian_top21{
	width: 100%;
	height: 30px;
	font-family: "微软雅黑regular";
	font-size: 14px;
	color: #A3A3A3;
}
.zhandian_top21_left{
	width: 184px;
	height: 30px;
	background-color: white;
	margin-right: 11px;
	float: left;
	padding-left: 20px;
	line-height: 30px;
}
.zhandian_top21_right{
	width: 184px;
	height: 30px;
	background-color: white;
	float: left;
	padding-left: 20px;
	line-height: 30px;
}
.zhandian_top22{
	width: 384px;
	height: 126px;
	background-color: white;
	margin-top: 10px;
/* 	padding-left: 20px;
	padding-top: 16px; */
	font-family: "微软雅黑regular";
	font-size: 14px;
	color: #A3A3A3;
	
}
.content5_di1_2_f{
	margin-top: -40px;
	margin-right: 25px;
}
.content5_di1_211,.content5_di1_222{
	background-color: rgb(43, 108, 140); 
}
.content5_di1_233{
	color: rgb(43, 108, 140); 
}
.zhandian_top22 div.content5_di1_2_f{
	right: 24px;
	top: 75px;
}
.content5_di1_22{
	font-size: 12px;
	color: white;
	line-height: 24px;
	text-align: center;
}
.zhandian_top3{
	width: 296px;
	height: 166px;
	float: left;
	margin-top: 40px;
	padding-top: 8px;	
	margin-right: 80px;
}
.zhandian_top3_1{
	width: 140px;
	height: 30px;
	margin-bottom: 18px;
}
.zhandian_top3_1 p{
	font-size: 14px;
	line-height: 15px;
	font-family: "微软雅黑regular";
	color: white;
}
.zhandian_top3_1 span{
	font-size: 14px;
	font-family: "san francisco display";
	color: #A6B9C4;
}
.zhandian_top3_2{
	width: 100%;
	height: 112px;
}
.zhandian_top3_2zi{
	font-size: 14px;
	font-family: "微软雅黑regular";
	color: white;
	float: left;
	margin-right:60px;
	margin-bottom: 12px;
}
.zhandian_top3_2 div.zhandian_top3_2zi1{
	margin-right: 0;
}
.zhandian_top4{
	height: 166px;
	width: 170px;
	float: left;
	margin-top: 40px;
	padding-top: 8px;	
}

.zhandian_top4_2{
	width: 100%;
	height: 30px;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	margin-bottom: 28px;
}
.zhandian_top4_21{
	width: 30px;
	height: 30px;
	background-color: white;
	border-radius: 50%;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	font-family: 'iconfont';  
	color: #7F7F7F;
}
.zhandian_top4_3{
	width: 100%;
	height: 36px;
	font-size: 14px;
	font-family: "微软雅黑regular";
	color: white;
}
.footer{
	width: 100%;
	height: 56px;
	background-color: black;
}
.footer_zi{
	width: 520px;
	height: 56px;
	margin: 0 auto;
	color: #8D8D8D;
	font-size: 12px;
}
.footer_zi1{
	width: 522px;
	height: 28px;
	line-height: 28px;
	padding-left: 10px;
}
.footer_zi2{
	width: 522px;
	height: 28px;	
}

/* 案例展示 */
.anli_content{
	width: 100%;	
	height: 248px;
	background-color: #BDCCD4;
	font-size: 44px;
	color: white;		
}
.anli_content_di{
	width: 1200px;
	height: 248px;
	margin: 0 auto;
	position: relative;
/* 	position: relative;
	text-align: center;
	line-height: 248px; */
}
/* .anli_content_di img{
	position: absolute;
	bottom: 0;
} */
.anli_content_di1{
	width: 1200px;
	height: 70px;
	background-color: rgb(43, 108, 140);
	position: absolute;
	bottom: -35px;

}
.anli_content_di1_1{
	width: 356px;
	height: 100%;
	background-color: black;
	border-right: 4px solid yellow;
	padding-left: 30px;
	font-size: 16px;
	color: white;
	padding-top: 17px;	
}
.anli_content_di1_2{
	width: 581px;
}
.contentanli_content_di1_11{
	width: 100%;
	height: 36px;
}
.anli_content_di1_xian{
	width: 4px;
	height: 34px;
	background-color: white;	
	float: left;
	border-radius: 5px;
	margin-right: 5px;
}
.contentanli_content_di1_112{
	width: 48px;
	height: 34px;
	float: left;
}
.anli_content_di1_dian{
	width: 14px;
	height: 4px;
	margin-left: 30px;
	float: left;
	display: flex;
	justify-content: space-between;
	margin-right: 30px;
	margin-top: 16px;
}
.anli_content_di1_dian1{
	width: 4px;
	height: 4px;
	background-color: white;
	border-radius: 50%;
}
.contentanli_content_di1_1122{
	width: 148px;
}
.anli_content_di1_dt{
	width: 266px;
	height: 245px;
	position: absolute;
	right: 8px;
	bottom: -90px;
	background-image: url('../img/anli/c1-2.png')
}
.anli_content_di1_h{
	width: 140px;
	height: 140px;
	background-color: rgba(236, 248, 18,0.8);
	position: absolute;
	right: 180px;
	top: 25px;
	border-radius: 8px;
}
.anli_content2{
	width: 279px;
	height: 98px;
	margin: 56px auto 0;
}
.anli_content3{
	width: 1200px;
	height: 843px;
	margin: 30px auto 0;
	padding: 0 98px;
	position: relative;
}
.anli_content3_1{
	width: 472px;
	height: 447px;
	border: 2px solid #E4E4E4;
	float: left;
}
.anli_content3_1_1{
	width: 468px;
	height: 342px;
	background-image: url('../img/anli/c3-1.png');
	position: relative;
}
.anli_content3_1_1d{
	width: 81px;
	height: 81px;
	background-image: url('../img/anli/c3-2.png');
	position: absolute;
	left: 28px;
	bottom: -40px;
	border-radius: 50%;
}
.anli_content3_1_2{
	width: 100%;
	height: 105px;
	padding-left: 118px;
	padding-right: 22px;
}
.anli_content3_1_21{
	width: 100%;
	height: 26px;
	line-height: 23px;
}
.anli_content3_1_21 p{
	font-family: "微软雅黑light";
	font-size: 14px;
	color: #C6C6C6;
	float: left;
	margin-right: 16px;
}
.anli_content3_1_21 span{
	font-family: "san Francisco display heavy";
	font-size: 16px;
	color: rgb(43, 108, 140);
	float: left;
}
.anli_content3_1_22{
	width: 100%;
	height: 1px;
	background-color: #DCDCDC;
	position: relative;
	margin-bottom: 10px;
}
.anli_content3_1_22d{
	width: 94px;
	height: 1px;
	position: absolute;
	left: 0;
}
.anli_content3_1_23{
	width: 100%;
	height: 34px;
}
.anli_content3_1_23 p{
	width: 280px;
	height: 100%;
	float: left;
	font-size: 14px;
	font-family: "微软雅黑regular";
}
.anli_content3_1_23k{
	width: 25px;
	height: 25px;
	border: 2px solid #dcdcdc;
	float: right;
	background: white;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #dcdcdc;
}
.anli_content3_2{
	width: 498px;
	height: 345px;
	border: 2px solid #dcdcdc;
	float: right;
	display: flex;
	justify-content: space-between;
}
.anli_content3_21:last-child{
	border-right: 0;
	border-left: 2px solid #dcdcdc;
}

.anli_content3_21{
	width: 232px;
	height: 100%;
	border-right: 2px solid #dcdcdc;
	float: left;
}
.anli_content3_21_1{
	width: 230px;
	height: 229px;
	background-image: url('../img/anli/c3-3.png');
	position: relative;
}
.anli_content3_21_1d{
	width: 81px;
	height: 81px;
	background-image: url('../img/anli/c3-2.png');
	position: absolute;
	left: 22px;
	bottom: -40px;
	border-radius: 50%;
}
.anli_content3_21_2{
	width: 230px;
	height: 114px;
}
.anli_content3_21_21{
	width: 100px;
	height: 26px;
	padding-top: 14px;
	margin-left: 115px;
	font-family: "san Francisco display heavy";
	font-size: 16px;
	color: rgb(43, 108, 140);
	margin-bottom: 26px;
}
.anli_content3_21_22{
	width: 198px;
	height: 1px;
	background-color: #dcdcdc;
	margin: 0 auto 14px;
}
.anli_content3_21_23{
	width: 198px;
	height: 32px;
	margin: 0 auto;
	font-size: 14px;
	font-family: "微软雅黑regular";
}
.anli_content3_3{
	width: 498px;
	height: 345px;
	position: absolute;
	bottom: 20px;
	left: 98px;
}
.anli_content3_4{
	width: 472px;
	height: 447px;
	position: absolute;
	bottom: 0;
	right: 98px;
}
.anli_content4{
	width: 100%;
	height: 363px;
	background-color: red;
	margin-top: 45px;
}
.anli_content41{
	width: 47%;
	float: left;
	height: 100%;

}
.anli_content41 img{
	width: 100%;
	height: 363px;
	
}
.anli_content42 img{
	width: 100%;
	height: 363px;
	
}
.anli_content42{
	width: 53%;
	float: left;
	height: 100%;
}
.anli_content5{
	width: 1200px;
	height: 15px;
	margin: 34px auto 0;
	padding-left: 360px;
	font-size: 14px;
	line-height: 15px;
	position: relative;
}
.anli_content5 p{
	float: left;
	margin-right: 42px;
}
.anli_content5 a{
	float: left;
	margin-right: 42px;
}
.anli_content5d{
	width: 63px;
	height: 4px;
	background-color: #e5e5e5;
	position: absolute;
	bottom: -8px;
}
.anli_content5d1{
	width: 13px;
	height: 100%;
	background-color: rgb(43, 108, 140);
}
.anli_content6{
	height: 984px;
	width: 984px;
	margin: 0 auto;
	border: 2px solid #dcdcdc;
	margin-top: 58px;

}
.anli_content6 div.anli_content62{
	margin-right: 0;
}
.anli_content61:first-child{
	border-left: 0;
}
.anli_content61:last-child{
	border-right: 0;
}
.anli_content61{
	width: 316px;
	height: 312px;
	border: 2px solid #dcdcdc;
	float: left;
	margin-right: 16px;		
}
.anli_content63{
	margin-top: 22px;
}
.anli_content61_1{
	width: 312px;
	height: 163px;
	background-image: url('../img/anli/c6-1.png');
}
.anli_content61_2{
	width: 312px;
	height: 147px;
	padding: 22px 0 0 22px;
}
.anli_content61_21{
	width: 100%;
	height: 20px;
	font-size: 20px;
	line-height: 20px;
}
.anli_content61_22{
	width: 100%;
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	margin-top: 8px;
	color: #B7B7B7;
}
.anli_content61_23{
	width: 100%;
	height: 46px;
	margin-top: 22px;
}
.anli_content61_231{
	width: 40px;
	height: 100%;
	background-image: url('../img/anli/c6-2.png');
	margin-right: 12px;
	float: left;
}
.anli_content61_232{
	width: 55px;
	height: 46px;
	font-size: 14px;
	line-height: 46px;
	color: #B7B7B7;
	float: left;
}
.anli_content61_233{
	width: 100px;
	height: 46px;
	font-size: 14px;
	line-height: 46px;
	font-family: "san Francisco display heavy";
	float: left;
	color: rgb(43, 108, 140);
	margin-right: 48px;
}
.anli_content61_234{
	width: 25px;
	height: 25px;
	background-color: black;
	float: left;
	margin-top: 12px;
	line-height: 25px;
	text-align: center;
	color: white;
	font-size: 16px;
}
.anli_content7{
	width: 324px;
	height: 24px;
	margin: 30px auto 30px;
}
.anli_content71{
	width: 12px;	
	height: 24px;	
	line-height: 24px;
	font-size: 20px;
	color: #585858;
	text-align: center;
	float: left;
}
.anli_content72{
	width: 300px;
	height: 24px;
	float: left;
	padding: 0 26px;
}
.anli_content721{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #E5E5E5;
	float: left;
	margin-right: 20px;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	color: rgb(43, 108, 140);
}
.anli_content722{
	color: white;
	background-color: rgb(43, 108, 140);
}
.anli_content723{
	width: 24px;
	height: 24px;
	float: left;
	margin-right: 20px;
}
.anli_content7231{
	width: 2px;
	height: 2px;
	background-color: rgb(43, 108, 140);
	float: left;
	margin-right: 2px;
	margin-top: 16px;
}
.anli_content721:last-child{
	margin-right: 0;
}

/* 产品案例 */
.chpi_content{
	width: 1210px;
	height: 795px;
	margin: 50px auto 0;
}
.chpi_content1{
	width: 282px;
	height: 382px;
	float: left;
	margin-right: 26px;
	position: relative;
}
.chpi_content1_cover{
	position: absolute;
	color: #fff;
    width: 271px;
    height: 357px;
    top: 9px;
    left: 10px;
    background-color: rgba(48, 103, 140, 0.9);
    box-shadow: 0px 5px 20px 5px #EEEFF0;
    opacity: 0;
    padding-top: 35px;
    padding-left: 24px;
}
.chpi_content1_cover:hover{
	opacity: 1;
}
.chpi_content1_cover h1{
	font-size: 22px;
	font-weight: normal;
	font-family: "微软雅黑light";
}
.chpi_content1_cover P{
	font-family: "arial";
	font-weight: "bold";
	font-size: 24px;
}
.chpi_content1_cover span{
	font-family: "arial";
	font-weight: "bold";
	font-size: 24px;	
}
.chpi_content1_xian{
	width: 2px;
    height: 355px;
    background-color: #F5C812;
    position: absolute;
    top: 3px;
    right: 15px;
}
.chpi_content1_covery{
	width: 24px;
	height: 24px;
	background-color: yellow;
	border-radius: 50%;
	line-height: 24px;
	text-align: center;
	color: black;
	font-size: 12px;
	margin-top: 24px;

}
.chpi_content1:nth-child(4),.chpi_content1:nth-child(8){
	margin-right: 0px;
}
.chpi_content1:nth-child(5),.chpi_content1:nth-child(6),
.chpi_content1:nth-child(7),.chpi_content1:nth-child(8){
	margin-top: 30px;
}

/* 公司简介 */
.gsjj_content1{
	width: 1200px;
	height: 502px;
	margin: 64px auto 0;
	padding-left: 120px;
	padding-right: 95px;
}
.gsjj_content1_1{
	width: 472px;
	height: 60px;
}
.gsjj_content1_11{
	height: 60px;
	width: 350px;
	float: right;
}
.gsjj_content1_12{
	margin-right: 0;
}
.gsjj_content1_11 p{
	font-size: 22px;
	font-family: "微软雅黑regular";
	font-weight: bold; 
}
.gsjj_content1_11 span{
	font-size: 20px;
	font-family: "微软雅黑light";
	
}
.gsjj_content1_2{
	width: 988px;
	/* height: 2px; */
	/* background-color: black; */
	margin-top: 39px;
	border-top: dashed 2px black ;
}
.gsjj_content1_3{
	height: 16px;
	margin-top: 29px;
	overflow: hidden;
}
.gsjj_content1_31{
	width: 9px;
	height: 9px;
	float: left;
	background-color: black;
	margin-top: 5px;
	margin-right: 14px;
}
.gsjj_content1_32{
	line-height: 16px;
	font-family: "微软雅黑regular";
	font-size: 16px;
	font-weight: bold;
	float: left;
	margin-right: 10px;
}
.gsjj_content1_33{
	font-size: 16px;
	float: left;
	line-height: 16px;
	font-family: "arial regular";
	color: #C3C3C3;
}
.gsjj_content1_4{
	width: 100%;
	margin-top: 25px;
	color: #7A7A7A;
	font-family: "微软雅黑regular";
	font-size: 14px;
	padding-left: 24px;
	font-weight: bold;
}
.gsjj_content1_5{
	width: 486px;
	height: 90px;
	margin-top: 38px;
	font-family: "微软雅黑regular";
	font-size: 14px;
	padding-left: 24px;
	color: #7A7A7A;

}
.gsjj_content2{
	width: 1200px;
	height: 283px;
	margin: 52px auto 0;
	position: relative;
}
.gsjj_content21{
	width: 936px;
	height: 283px;
	position: absolute;
	left:-80px ;
}
.gsjj_content22{
	width: 936px;
	height: 283px;
	position: absolute;
	right: -80px;
	bottom: -98px;
}
.gsjj_content3{
	width: 1200px;
    height: 440px;
    margin: 145px auto 40px;
    padding-left: 120px;
    padding-right: 95px;
}
.gsjj_content31{
	font-weight: normal;
}
.gsjj_content3_31{
	background-color: #7C7268;
}
/* 关于我们 */
.about_content1{
	width: 1200px;
	height: 372px;
	margin: 40px auto 0;
	position: relative;
}
.about_content1_1{
	width: 344px;
	height: 372px;
	position: absolute;
	left: -82px;

}
.about_content1_2{
	width: 552px;
	height: 372px;
	margin: 0 auto;
}
.about_content1_3{
	width: 252px;
	height: 443px;
	position: absolute;
	right: -84px;
	top: 0;
}
.about_content1_21{
	width: 100%;
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	font-weight: bold;

}
.about_content1_22{
	width: 100%;
	height: 26px;
	line-height: 26px;
	font-size: 26px;
	font-weight: bold;
	margin-top: 6px;
}
.about_content1_23{
	width: 100%;
	height: 3px;
	background-color: rgb(48, 103, 140);
	margin-top: 20px;
}
.about_content1_23d{
	width: 118px;
	height: 3px;
	background-color: yellow;
}
.about_content1_24{
	width: 100%;
	height: 20px;
	margin-top: 22px;
	font-size: 20px;
	line-height: 20px;
	color: #636363;
}
.about_content1_25{
	width: 100%;
	height: 36px;
	margin-top: 16px;
	color: #636363;
	font-size: 14px;
	overflow: hidden;
}
.about_content1_26{
	width: 100%;
	height: 146px;
	color: #999999;
	margin-top: 18px;
	font-size: 14px;
	overflow: hidden;
}
.about_content1_27{
	width: 130px;
	height: 27px;
	border: 2px solid black;
	background-color: white;
	margin-top: 16px;
}
.about_content1_27 p{
	height: 20px;
	width: 62px;
	margin-left: 16px;
	font-size: 20px;
	font-weight: bold;
	float: left;
	color: black;
}
.about_content1_271{
	width: 27px;
	height: 25px;
	border-left:  2px solid black;
	border-bottom: 2px solid black;
	float: right;
	background-color: rgb(48, 103, 140);
	line-height: 25px;
	text-align: center;
	font-size: 16px;
	color: white;
}
.about_content2{
	width: 1200px;
	height: 598px;
	margin: 42px auto 0;
	position: relative;
}
.about_content21{
	width: 1012px;
	height: 344px;
	margin-left: 96px;
	position: relative;
}
.about_content21_1{
	width: 160px;
	height: 283px;
	background-color: rgb(48, 103, 140);
	position: absolute;
	top: 33px;
	left: 0;
}
.about_content21_2{
	width: 1000px;
	height: 302px;
	position: absolute;
	right: 0;
	top: 0;
}
.about_content21_3{
	width: 276px;
	height: 84px;
	position: absolute;
	left: 180px;
	bottom: 0;
}
.about_content22{
	width: 448px;
	height: 138px;
	background-color: white;
	margin-left: 608px;
	overflow: hidden;
	float: left;
	transition: all 0s linear; 
	/* border-right: 5px solid yellow; */
}
.about_content22_1{
	width: 100%;
	height: 18px;
	margin-top: 20px;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	padding-left: 26px;
}
.about_content22:hover,.wz_conten12_3:hover{
	border-right: 5px solid yellow;
	box-shadow: 0px 0px 20px 5px #EEEFF0;
}
.about_content22_2{
	width: 400px;
	height: 58px;
	padding-left: 26px;
	color: #939393;
	font-size: 14px;
	margin-top: 20px;
}
.about_content22d{
	width: 5px;
	height: 138px;
	background-color: yellow;
	margin-left: 1056px;
	opacity: 0;
}
.about_content23{
	position: absolute;
	left: 276px;
	bottom: 22px;
}
.about_content3{
	width: 1200px;
	height: 1002px;
	margin: 0 auto;
	margin-top: 44px;
	position: relative;
}
.about_content31{
	height: 400px;
}
.about_content31_1{
	width: 400px;
	height: 400px;
	float: left;
}
.about_content31_2{
	position: absolute;
	left: 800px;
}
.about_content31_1zi{
	width: 400px;
	height: 400px;
	background-color: rgba(43, 108, 140,0.8);
	position: absolute;
	left: 400px;
	overflow: hidden;
	color: white;
	padding-left: 50px;
}
.about_content31_1zi1{
	width: 200px;
	height: 28px;
	margin-top: 85px;
	/* margin-left: 50px; */
	font-size: 28px;
	line-height:28px;
	font-weight: bold;
}
.about_content31_1zi2{
	width: 200px;
	height: 36px;
	margin-top: 18px;
}
.about_content31_1zi3{
	width: 180px;
	height: 36px;
	margin-top: 30px;
	font-weight: bold;
}
.about_content31_1zi4{
	margin-left: 178px;
	margin-top: 90px;
}
.about_content31_3{
	position: absolute;
	left: -84px;
	top: 400px;
}
.about_content31_4{
	position: absolute;
	top: 400px;
	left: 200px;
}
.about_content31_5{
	position: absolute;
	top: 399px;
	right: -83px;
}
.about_content31_6{
	position: absolute;
	bottom: 0;
	left: 212px;
}
.about_content31_7{
	position: absolute;
	bottom: 0;
	left: 454px;
}
.about_content31_8{
	position: absolute;
	bottom: 0;
	left: 699px;
}
.about_content31_9{
	position: absolute;
	bottom: 3px;
	right: 30px;
}
.about_content4{
	width: 1200px;	
	height: 323px;	
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 80px;
}
.about_content41{
	width: 515px;
	height: 323px;
	margin-left: 88px;
	float: left;
}
.about_content42{
	width: 400px;
	height: 323px;
	margin-left: 90px;
	float: left;
}
.about_content42_1{
	width: 390px;
	height: 108px;
}
.about_content42_2{
	width: 390px;
	height: 174px;
}
.about_content42_3{
	margin-top: 14px;
}
.tuandui_content1{
	width: 996px;
	height: 1027px;
	margin: 0 auto;
	margin-top: 40px;
	position: relative;
}
.tuandui_content11{
	width: 494px;
	height: 473px;
	float: left;
}
.tuandui_content11_1{
	width: 237px;
	height: 473px;
	float: left;
	margin-right: 19px;
}
.tuandui_content11_2{
	width: 238px;
	height: 227px;
	float: left;
}
.tuandui_content11_2_img{
	width: 152px;
	height: 227px;
	float: left;	
}

.tuandui_content11_2_1{
	width: 86px;
	height: 227px;
	float: left;
	padding-left: 16px;
}
.tuandui_content11_2_11{
	width: 100%;
	height: 10px;
	font-weight: bold;
	font-size: 12px;
	line-height: 10px;
	margin-top: 38px;
}
.tuandui_content11_2_12{
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 20px;
	margin-top: 6px;
}
.tuandui_content11_2_13{
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
	margin-top: 68px;
}
.tuandui_content11_2_13d{
	width: 26px;
	height: 1px;
	background-color: black;
}
.tuandui_content11_2_14{
	width: 56px;
	height: 34px;
	font-family: "微软雅黑light";
	font-size: 14px;
	margin-top: 15px;
}
.tuandui_content11 div.tuandui_content11_2:nth-child(3){
	margin-top: 19px;
}
.tuandui_content12 div.tuandui_content11_2:nth-child(3){
	margin-top: 19px;
}
.tuandui_content12 div.tuandui_content11_2:nth-child(4){
	margin-top: 19px;
}
.tuandui_content12 div.tuandui_content11_2:nth-child(4){
	margin-left:  16px;
}
.tuandui_content12 div.tuandui_content11_2:nth-child(2){
	margin-left:  16px;
}

.tuandui_content12{
	width: 494px;
	height: 473px;
	float: right;
	/* margin-left: 8px; */
}
.tuandui_content1 div.tuandui_content13{
	position: absolute;
	left: 0;
	bottom: 0;
}
.tuandui_content14{
	position: absolute;
	right: 0;
	bottom: 0;
}
.tuandui_content14_1{
	width: 238px;
	height: 494px;
	float: left;
	margin-right: 19px;
}
.tuandui_content14_2{
	margin-right: 0;
}
.tuandui_content14_1_1{
	margin-top: 19px;
}
.tuandui_content2{
	width: 1200px;
	height: 127px;
	margin: 0 auto;
	margin-top: 100px;
}
.tuandui_content3{
	width: 996px;
	height: 346px;
	margin: 0 auto;
	margin-top: 34px;
}
.tuandui_content31{
	width: 458px;
	height: 150px;
	float: left;
}
.tuandui_content31_1{
	width: 131px;
	height: 150px;
	float: left;
	margin-right: 39px;
}
.tuandui_content31_2{
	width: 100%;
	height: 36px;
	line-height: 36px;
	font-size: 36px;
	font-family: "微软雅黑regular";
	margin-top: 20px;
	margin-bottom: 27px;
	color: #767676;
}
.tuandui_content31_3{
	width: 100%;
	height: 46px;
	font-family: "微软雅黑light";
	font-size: 18px;
	line-height:  30px;
	color: #767676;
}
.tuandui_content32{
	margin-left: 80px;
}
.tuandui_content33{
	margin-top: 46px;
}
.tuandui_content34{
	margin-top: 46px;
	margin-left: 80px;

}
.tuandui_content4{
	width: 1200px;
	height: 25px;
	margin: 0 auto;
	margin-top: 38px;
	padding-left: 542px;
	margin-bottom: 20px;
}
.tuandui_content41{
	width: 116px;
	height: 25px;
	display: flex;
	justify-content: space-between;
}
.tuandui_content41_1{
	width: 25px;
	height: 25px;
	background-color: #E5E5E5;
	color: #767676;
	border-radius: 50%;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
	font-weight: bold;
}
.tuandui_content41_1:hover{
	background-color: rgb(48, 103, 140);
	color: white;
	cursor: pointer;
}
.wz_conten_z{
	width: 1200px;
	margin: 0 auto;
	margin-top: 66px;
	margin-bottom: 52px;
}
.wz_conten{
	width: 58px;
	height: 5px;
	background-color: #5C5C5E;
	border-radius: 5px;
}
.wz_conten2{
	height: 24px;
	margin-top: 22px;
	line-height: 24px;
	font-size: 24px;
	color:#5C5C5E;
}
.wz_conten2 p{
	font-weight: bold;
	float: left; 
	margin-right: 14px;
}
.wz_conten3{
	height: 24px;
	line-height: 24px;
	font-size: 24px;
	margin-top: 12px;
	margin-bottom: 12px;
}
.wz_conten4{
	background-color: #E6E6E6;
	height: 1px;
}
.wz_conten5{
	height: 26px;
	color: rgb(48, 103, 140);
	margin-top: 60px;
	font-size: 26px;
	line-height: 26px;
}
.wz_conten6{
	height: 13px;
	font-size: 12px;
	line-height: 13px;
	color: rgb(48, 103, 140);
	font-weight: bold;
	margin-top: 16px;
}
.wz_conten7{
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	color: #A2A2A2;
}
.wz_conten7 p{
	float: left;
}
.wz_conten7 img{
	float: right;	
}
.wz_conten8{
	margin-top: 90px;
}
.wz_conten81_4,.wz_conten81_5{
	width: 956px;
}
.wz_conten9{
	height: 392px;
	margin-top: 20px;
}
.wz_conten91{
	width: 697px;
	float: left;
}
.wz_conten92{
	width: 426px;
	float: right;
}
.wz_conten10{
	margin-top: 74px;
}
.wz_conten11{
	width: 704px;
	height: 395px;
	margin-top: 20px;
}
.wz_conten12{
	height: 70px;
	width: 100%;
	margin-top: 40px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	padding-left: 38px;
}
.wz_conten12_1{
	width: 61px;
	height: 25px;
	float: left;
	margin-top: 20px;
	font-size: 12px;
	margin-right: 35px;
}
.wz_conten12_1 p{
	color:#c0c0c0; 
}
.wz_conten12_1 span{
	color:#5e5e5e; 
}
.wz_conten12_2{
	width: 121px;
	float: left;
	height: 70px;
	line-height: 70px;
	display: flex;
	justify-content: space-between;
	margin-right: 434px;
}
.wz_conten12_2 p{
	float: left;
	font-family: 'iconfont'; 
	font-size: 24px;
}
.wz_conten12_3{
	width: 220px;
	height: 68px;
	float: left;
	/* border-right: 5px solid yellow; */
	color: #656565;
	font-size: 14px;
	line-height: 68px;
	background-color: white;
}
.wz_conten12_3 p{
	margin-left: 8px;
	float: left;
	margin-right: 10px;
}
.wz_conten12_3 span{
	float: left;
}
.wz_conten12_3_sx{
	width: 1px;
	height: 7px;
	background-color: black;
	float: left;
	margin-top: 30px;
	margin-right: 10px;
}
.wz_conten13{
	width: 46px;
	height: 4px;
	background-color: rgb(48, 103, 140);
	margin-top: 42px;
	margin-left: 30px;
}
.wz_conten14{
	height: 30px;
	padding-left: 30px;
	line-height: 30px;
	font-size: 30px;
	margin-top: 20px;
}
.wz_conten14 p{
	float: left;
	font-weight: bold;
	margin-right: 10px;
}
.wz_conten14f{
	width: 3px;
	height: 3px;
	background-color: rgb(48, 103, 140);
	float: left;
	margin-top: 13px;
	margin-right: 10px;
}
.wz_conten14 span{
	float: left;
	margin-right: 10px;
	color: #696969;
}
.wz_conten15{
	height: 22px;
	margin-top: 15px;
	margin-left: 30px;
}
.wz_conten16{
	width: 1130px;
	height: 299px;
	margin-left: 50px;
	margin-top: 45px;
}
.wz_conten16_1{
	width: 100%;
	height: 110px;
	/* position: relative; */
	overflow: hidden;
}
.wz_conten16_1 img{
	float: left;
	margin-right: 48px;
}
.wz_conten16_1 p{
	margin-top: 30px;
	height: 20px;
	line-height: 20px;
	font-size: 20px;
	color: #A3A3A3;
	margin-bottom: 10px;
}
.wz_conten16_1 span{
	font-size: 22px;
	line-height: 22px;
	float: left;
}
.wz_conten16_1 h1{
	font-size: 12px;
	line-height: 22px;
	float: right;
	color: #7A7A7A;
	font-weight: normal;
	margin-right: 45px;
}
.wz_conten16_2{
	width: 961px;
	height: 189px;
	border: 2px solid #EEEEEE;
	margin-left: 168px;
	color: #7A7A7A;
	padding-left: 48px;
	padding-top: 42px;
	padding-right: 61px;
}






/* 鼠标移入效果 */
/* .about_content22d:hover{
	opacity: 1;
}
.about_content22:hover{
	box-shadow: 0 5px 15px 8px #e2e2e2;
    transform: translateY(-2px);
    
} */
